<nav class="navbar px-2 fixed-top position-sticky bg-white nav-styles">
  <div class="d-flex w-100 justify-content-between">
    <div>
      <button
        class="navbar-toggler icon-button"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand px-2">Contacts App</a>
    </div>

    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul
          class="navbar-nav d-flex flex-column justify-content-center align-item-center"
        >
          <li class="nav-item col-4">
            <app-contact-image
              style="
                width: 8em;
                height: 8em;
                border: 2px solid rgb(82, 82, 82);
                border-radius: 50%;
              "
              [img]="user.userPhoto"
            ></app-contact-image>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nombre: {{ user.userFullName }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Correo: {{ user.userEmail }}</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contactos: </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de: </a>
          </li>
          <li class="nav-item">
            <app-logout></app-logout>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
